@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Baskerville:ital@1&family=Orbitron&family=Share+Tech+Mono&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

body,
.modal-body {
    background-image: url(../img/pexels-misael-garcia-1707820.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

main {
    min-height: 80.7vh;
}

.navbar {
    min-height: 6.5rem;
    background-color: #ffc23c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23100720' fill-opacity='0.09' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    border-top: 2px solid #100720;
    border-bottom: 2px solid #100720;
}

.navbar-toggler {
    color: #100720 !important;
    border: 2px solid #100720;
}

.nav-link {
    font-size: 1.5rem;
    border: 2px solid #100720;
    background-color: #FFC23C;
    color: #100720;
    border-radius: 0.375rem;
    padding: .7rem !important;
    font-weight: bold;
}

.active {
    background-color: #100720;
    color: #FFC23C !important;
}

pre {
    background: #614385;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid white;
}

footer,
.subtitulos,
.modal-header {
    color: #100720;
    background-color: #FFC23C;
    border: solid 2px #100720;
}

.acciones:hover {
    color: #FFC23C !important;
    transform: scale(1.2);
}

#botonAddClient:hover {
    color: #FFC23C;
    background-color: #100720 !important;
    border-color: #FFC23C !important;
}

.swal2-cancel {
    color: #FFC23C !important;
    background-color: #100720 !important;
    border: 2px solid #FFC23C !important;
    font-weight: bold !important;
}

.swal2-confirm {
    color: #100720 !important;
    background-color: #FFC23C !important;
    border: 2px solid #100720 !important;
    font-weight: bold !important;
}



@media (min-width: 992px) {
    #contenedorMain {
        flex-direction: row !important;
    }
}

@media (min-width: 767px) {
    #contenedorFooter {
        justify-content: space-around !important;
    }

    #divHeader {
        flex-direction: row !important;
        justify-content: space-around;
    }
}